<div class="product-reviews">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
<<<<<<< HEAD
			<p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
				<% if signed_in? && current_user.admin? %>
            		<%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            	<% end %>
        	</p>
=======
			<p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
>>>>>>> e2f62ce775bffe0e5413697331465fef1c4c50d0
			<div class="rated" data-score="<%= comment.rating %>"></div>
            <p><%= comment.body %></p>
        </div>
    <% end %>
    
    <%= will_paginate @comments %>
    
</div>