<p id="notice"><%= notice %></p>

<h2>
  <%= @product.name %>
</h2>

<p>
  <%= image_tag(@product.image_url, class: "img-responsive") %>
</p>

<p>
  <%= @product.description %>
</p>

<p>
	<%= @product.colour %>
</p>

<p>$
  <%= @product.price %>
</p>

<p>Want more information? Just ask!</p>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email Address" %>
    </div>
    <div class="form-group">
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Your Question" %>
    </div>
  </div>
</div>
<%= submit_tag "Send" %>
<% end %> 

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
